.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background: rgb(76,217,100);
    padding: 10px;
}

.navbar-button--active {
    font-weight: bold;
    color: rgb(255,59,48);
}
