.body-container {
    position: relative;
    top: 50px;
    width: 100%;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(76,217,100);
    padding: 60px 0;
    height: 100%;
}

.table-card {
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 25px;
}
