.stat-table--container {
    opacity: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 50px;
    background: wheat;
    width: 40%;
    border-radius: 25px;
    position: fixed;
    z-index: 2;
    top: 0;
    transition: all 1s ease-in-out;
    margin-top: 40px;
}

.stat-table--container__open {
    opacity: 1;
    top: 70px;
}
